.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  background-color: var(--colors-background);
  color: var(--colors-foreground);
}

.container {
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-color: var(--colors-border);
}
