:root {
  --colors-foreground0: #656461;
  --colors-background0: #FFFFFF;
  --colors-background1: #FBFBFA;
  --colors-background2: #D5D5D4;
  --colors-border: #9E9D9A;
  --font-size: 12px;
}

.app {
  display: flex;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size);
  background-color: var(--colors-background1);
  color: var(--colors-foreground0);
}

.main {
  flex: 1;
  padding: 2rem;
}

.canvas-table {
  height: 100%;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: 1px solid var(--colors-border);
  background-color: var(--colors-background1);
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-left: 1px solid var(--colors-border);
  background-color: var(--colors-background1);
  overflow-y: scroll;
}

.right-sidebar {
  padding: 1rem;
}

.row {
  padding: 0.5rem 0;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid var(--colors-border);
  outline: 0;
  font-size: var(--font-size);
  background-color: var(--colors-background1);
  color: var(--colors-foreground0);
}

.button {
  padding: 0.5rem;
  border: 1px solid var(--colors-border);
  font-size: var(--font-size);
  font-weight: bold;
  background-color: var(--colors-background2);
  color: var(--colors-foreground0);
  cursor: pointer;
}

hr {
  border: none;
  background-color: var(--colors-border);
  height: 1px;
}
