body[data-theme='light'] {
  --colors-foreground: #3C3836;
  --colors-background: #FBF1C7;
  --colors-border: #928374;
}

body[data-theme='dark'] {
  --colors-foreground: #EBDBB2;
  --colors-background: #282828;
  --colors-border: #665C54;
}
